@media screen and (min-width: 500px) {
    header {
        background-color: rgb(26, 8, 8);
    }
    h1{
        text-align: center;
        color: aliceblue;
    }

    main {
        grid-template-columns: 1fr 1fr;
    }
    footer{
        text-align: center;
    }
}