body {
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto / 300px 1fr auto;
}

header {
    background: rgb(5, 188, 249);
    padding: 2rem;
    grid-column: 1/3;
}
main {
    background: rgb(249, 247, 247) ;
    grid-column: 2/3;
}

footer {
  background: lightskyblue;
  padding: 2rem;
  text-align: center;
  grid-column: 1 / 3;
}
.aside-content {
  padding: 1rem;
}
