* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #f8f2f2;
	font-family: "Sansita", sans-serif;
	display: grid;
    grid-template-rows: auto 2fr auto;

}

header {
	background-color:#2A4B7C;
    display: flex;
	color: #fff;
	padding: 20px 0 0 0;
	text-align: center;
}

h1 {
	background-color: white;
	padding: 1rem;
	border: 1px solid rgb(0 0 0 / 10%);
	font-size: 2rem;
	text-align: center;
}

nav {
	background-color: #2A4B7C;
	margin: 0 auto;
	max-width: 800px;
}
nav ul {
	list-style-type: none;
}
nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
	
}

.active {
	color: yellow;
}

/* larger/wider views **************************/
@media (min-width: 640px) {
	nav ul {
		display: flex;
	}

	nav ul li {
		flex: 1 0 auto; /* flex: [flex-grow] [flex-shrink] [flex-basis]; 
		in this example, the items will not shrink but can grow to fill the space at natural content width*/

}

main {
    background-color: #ffffff;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

main h1 {
    text-align: center;
    margin-top: 0;
}

}
main .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

main .card {
    padding: 15px;
    gap: 10px;
    box-shadow: 0 0 5px #808080;
    border-radius: 10px;
    background-color: #d8f4ff;
}

section {
    display: block;
    unicode-bidi: isolate;
}

.about-me {
    display: grid
;
    grid-template-columns: 2fr auto;
    padding: 10px;
    gap: 1.5rem;
    align-items: center;
    box-shadow: 0 0 2px gray;
    border-radius: 5px;
    background-color: #ffffff;
}

.accra {
    display: grid;
    grid-template-columns: 2fr auto;
    padding: 10px;
    gap: 1.5rem;
    align-items: center;
    box-shadow: 0 0 2px gray;
    border-radius: 5px;
    background-color: #ffffff;
}

div {
    display: block;
    unicode-bidi: isolate;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

footer {
    background-color: #2A4B7C;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
}