@media (min-width: 1024px) {
    #temple-gallery {
        grid-template-columns: repeat(3, 1fr);

    }

       #menu-toggle {
        display: none;
    }
    
    .navigation {
        display: flex;
        flex-direction: row;
        width: auto;
        order: 2;
    }

	nav ul {
		justify-content: flex-end;
		flex-direction: row;
	}
	nav a {
		background-color: #2A4B7C;
        border-bottom: none;
        padding: 0.75rem 1rem;
        font-size: 1rem;
	}

        .navigation a:hover {
        background-color: #c6d8f2;
    }
}

