body{
    margin: 0;
    font-family: 'Roboto' sans-serif;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #bbb;
    padding: 2px;
    background-color: rgb(199, 199, 252);

}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section{
    padding: 1rem;
    background-color: rgb(200, 233, 247);
}