@media screen and (min-width: 500px) {
    header {
        background-color: white;
    }
    h1{
        text-align: center;
    }

    main {
        grid-template-columns: 1fr 1fr;
    }
    footer{
        text-align: center;
    }
}